
mixin card(url, number, luxury, price, review) 
    .card__container 
        img.card__img(src=url alt=фото)
        .card__info
            .card__info-part1
                p.card__number= number
                p.card__luxury= luxury
            p.card__price= price
        .card__rating 
            .card__stars
                .card__star
                .card__star
                .card__star
                .card__star
                .card__star
            p.reviews= review